@use 'sass:map';
@use "common";

$component-namespace: typography;
$title-namespace: $component-namespace + -title;
$text-namespace: $component-namespace + -text;
$paragraph-namespace: $component-namespace + -paragraph;
